
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <img src="https://midia4p.cartacapital.com.br/wp-content/uploads/2019/11/Anielle-Twitter-Reprodu%C3%A7%C3%A3o.jpg" class="img-fluid" />        
    </div>
    <div class="col-md-7">
        <h5>Seja bem vindo ao controle de contas da Anielle Franco!</h5>

        <p>
            Sistema desenvolvido por Carlos Frederico. <br />
        </p>
    </div>
</div>